{% extends "base.html" %}

{% block metatags %}
<title>About | SecureRate</title>
<meta name="description" content="Learn about SecureRate, the privacy-focused cybersecurity extension.">
{% endblock %}

{% block contents %}
<div class="container">
    <div>
        <ol class="breadcrumb small">
            <li class="breadcrumb-item"><a href="{{url_for('bl_home.index')}}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">About</li>
        </ol>
    </div>

    <h1><i class="bi bi-shield-lock-fill"></i> About SecureRate</h1>
    <p class="lead">SecureRate is a cybersecurity extension designed with privacy and user control in mind.</p>
    <p>Our extension offers a range of features to enhance your online security, such as:</p>
    <ul>
        <li><i class="bi bi-check-circle-fill"></i> Real-time website risk assessment</li>
        <li><i class="bi bi-star-fill"></i> Website reputation ratings</li>
        <li><i class="bi bi-lightbulb-fill"></i> Fitting security advice</li>
    </ul>
    <p>What sets SecureRate apart is its commitment to user privacy. All your data is stored locally on your device, ensuring that you have full control over your information. We don't collect or store any of your data on external servers.</p>
    <p><i class="bi bi-code-square"></i> SecureRate is also Free and Open Source Software (FOSS), allowing for community contributions and complete transparency.</p>
    <p><i class="bi bi-github"></i> Get the code on GitHub <a href="https://gitlab.com/securerate/securerate" target="_blank">here</a>.</p>
    <p><i class="bi bi-info-circle-fill"></i> Read full info <a href="https://gitlab.com/securerate/securerate#readme" target="_blank">here</a>.</p>
</div>
{% endblock %}
