<!-- Fixed navbar -->
<nav class="navbar navbar-expand-md navbar-light fixed-top shadow-sm" style="background-color: #aeaeae;">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="{{url_for('bl_home.index')}}">
      <h1><img id="header-icon" src="{{url_for('static', filename='icons/icon48.png')}}" alt="icon"/> SecureRate</h1>

        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link {{ mc['home']|default('') }}" aria-current="page" href="{{ url_for('bl_home.index') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{mc['about']|default('')}}" href="{{url_for('bl_home.about')}}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{mc['download']|default('')}}" href="{{url_for('bl_download.download')}}">Download</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{mc['docs']|default('')}}" href="{{url_for('bl_docs.docs')}}">Docs</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
