@charset "UTF-8";

main > .container {
    padding: 70px 10px 0px 10px;
}
.responsive-img {
    max-width: 75%;
    height: auto;
  }

  .site-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-left: 10px;
}

.header {
  text-align: center;
  background-color: #ffffff;
  color: #4d4949;
  padding: 3px; /* Increased by 10% */
}

.header img {
  width: 27px; /* Increased by 10% */
  height: 27px; /* Increased by 10% */
}